/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    font-family: 'PT Mono', monospace;
   /* font-family: 'Lato', sans-serif;*/
    font-weight: 300;
    color: #818181;
    display: block;
    transition: 0.3s;
    letter-spacing: 3px;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
    text-decoration: none;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


#abt-txt{
    padding-top: 30px;
    font-family: 'PT Mono', monospace;
    vertical-align: bottom;
    background-color: #080808;
    color: white;
}

#blog-txt{
    padding: 50px;
    font-family: 'PT Mono', monospace;
    background-color: #080808;
    color: white;
}

.blog-list{

    font-family: 'PT Mono', monospace;
    color: white;
    font-size: 20px;
}

.blog-summary{
    padding-bottom: 30px;
    font-family: 'Maitree', serif;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
    color: gray;
}

#contact{
    color: white;
    font-family: 'PT Mono', monospace;
    text-align: center;
}

#contact a{
    color: white;
}
